




.header_title{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 88px;
  background-color: #fcce00;
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
 }
.header_subtitle{
  font-family: 'Poppins', sans-serif;;
  text-align: center;
  color: #ffffff;
  font-size: 38px;
  background-color: #ff6b00;
  margin-top: 8px;
  margin-bottom: 8px;
}
.header_deco{
 margin-top: 8px;
 margin-bottom: 8px; 
}
.header_deco--red{
  width: 1480x;
  height: 32px;
  background-color: red;
}
.header_deco--violet{
  min-height: 16px;
  background-color: #b620e0;
}
.header_deco--purple{
  min-height: 8px;
  background-color: #6236ff;
}
.sub-title {/*
  width:1880px;
  height: 112px;*/
  margin: 32px 15px;
  font-family: Poppins, sans-serif;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #231f20;
}
.mis-avant{
display:flex;
max-width: 1280;
margin-left: auto;
margin-right: auto;
}
.mis-avant_content,
.mis-avant_illu{
flex-basis: 320px;
flex-grow: 1;
}
.mis-avant_content{
 padding-top: 0px;
 padding-right: 32px;
 padding-bottom: 32px;
 padding-left: 32px;
}
.mis-avant_title{
  font-size: 24px;
  font-weight: 700;
}
.mis-avant_description{
  font-size-adjust: 16px;
  text-align-last: justify;
}
.mis-avant-illu{
  background-image: url(../img/bg-yellow.png);
  background-position: right bottom;
  background-size: auto 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.mis-avant_image{
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
}

.mis-avant1{
display: flex;
max-width: 1280px;
margin-left: auto;
margin-right: auto;
}

.mis-avant_content1,
.mis-avant_illu1{
  flex-basis: 320px;
  flex-grow: 1;
}

.mis-avant_content1{
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32 px;
}
.mis-avant_title1{
  font-size: 24px;
  font-weight: 700;
}
.mis-avant_description1{
  font-size: 16px;
  text-align: justify
}
.mis-avant_illu1{
  background-image: url(../img/bg-orange.png);
  background-position: right bottom;
  background-size: auto 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.mis-avant_image1{
  display:block;
  max-width: 70%;
  mix-blend-mode: darken;
}